/* GENERAL RULES /* 

/* Colour Palette (Variables) */
  :root { 
    --dark: #527853;
    --cream: #F9E8D9;
    --orange: #F7B787;
    --links: #EE7214;
    --hover-links: #c75f10;
    --slateGreen: #363e36; 
  }

  * {
    margin: 0px; /* Removing default margin */
  }

  body {
    background-color: #faf4f1; /* Default Background */ 
  }

  section {
    margin: 0px 10%;
    padding-top: 50px;
  }

/*Fonts*/
  h1, h2, h3, h4 {
    font-family: 'Lilita One', sans-serif;
  }

  h2 {
    color: var(--dark);
    font-size: 60px;
    margin: 0px 0px;
  }

  h3 {
    color: var(--dark);
    font-size: 35px;
    margin: 0px 0px;
    margin-bottom: 15px;
    text-align: center;
  }

  h4 {
    color: var(--dark);
    font-size: 35px;
    margin: 0px 0 20px 10px;
    text-align: left;
  }

  p {
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    color: var(--slateGreen)
  }

  a {
    font-family: 'Inter', sans-serif;
    color: var(--links);
    text-decoration: none;
  }

  a:hover, #navigation a:hover {
    color: var(--hover-links);
  }

  .light {
    color: var(--cream)
  }









/* NAV BAR (FLEXBOX) */
  #navBar {
    background-color: white;
    display: flex;
    flex-direction: row;
    padding: 10px 5% 10px 5%;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    border-bottom: solid 0.5px;
    border-color: var(--slateGreen);
    z-index: 1000000
  }

  #logo {
    display: flex;
  }  

  #logo img {
    width: auto;
    height: 30px;
    padding-right: 8px;
  }

  #logo img::after {
    content: " "; 
  }

  #logo h1 {
    color: var(--slateGreen);
  }


  #navigation {
    display: flex;
    width: 35%;
    justify-content: space-evenly;
    align-items: center;
  }

  #navigation a {
    font-family: 'Inter', sans-serif;
    color: var(--slateGreen);
    text-decoration: none;
    font-size: 14px;
    display: inline-block
  }

  .btn1 {
    font-family: 'Inter', sans-serif;
    color: white !important; 
    text-decoration: none;
    font-size: 14px;
    border: none;
    background-color: var(--links);
    padding: 5px 10px;
    border-radius: 3px;
  }

  .btn1:hover {
    background-color: var(--hover-links)
  }

/* TOP BANNER (FLEXBOX) */
  #top-banner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80vh;
    margin-top: 20px;
    padding: 0 3% 0 3%;
  }

  #banner-left-side {
    flex: 60%;
    justify-content: center;
  }

  #banner-left-side h2, #banner-left-side p {
    margin-left: 10%;
    margin-right: 10%;
  }


  #banner-right-side {
    background-image: url(../assets/images/sean-donnelly-learning-to-code.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex: 40%; 
    height: 100%;
    border-radius: 0 0 25px 25px;
    margin-right: 3%;

  }


/* ABOUT ME */
  .centred-paragraph {
    width: 50%;
    text-align: center;
    margin: auto;
    padding: 5% 10%;
  }

 


/* RULES FOR ALL GRIDS */

.gridItem {
  align-content: end;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  border-radius: 5px;
  margin: 10px;
  display: grid;
  background-color: white;
  border: solid 0.75px var(--slateGreen);
}

.gridItem:hover {
  opacity: 0.85;
}

    .gridTextBox {
      background-color: var(--slateGreen);
      opacity: 1;
      border-radius: 0 0 5px 5px;
      padding: 15px;
      height: 55px;
      width: auto;
      display: flex;
      flex-direction: column;
      align-self: end;
      justify-content: center;
        h4 {
          margin: 0;
          background-color: transparent;
          color: rgb(255, 255, 255, 1);
          font-weight: bold;
          font-family: 'Inter', sans-serif;
          font-size: 18px;
        }
        p {
          background-color: transparent;
          color: rgb(255, 255, 255, 1);
          font-size: 14px;
        }
    }


/* HIGHLIGHTS (GRID) */ 
  #highlightsGrid {
    padding: 0;
    display: grid;
    height: 90vh;max-height: 800px;
    grid-template-columns: 65% 35%;
    grid-template-rows: 50% 50%;
    background-position: top;
    grid-template-areas:
    "highlight1 highlight1"
    "highlight2 highlight3";
  }

  #highlight1, #highlight2, #highlight3 {
    background-position: top;
  }

  #highlight1 {
    grid-area: highlight1;
    background-image: url(../assets/images/furniture-website.png);
 }

  #highlight2 {
    grid-area: highlight2;
    background-image: url(../assets/images/jakes-eatery.png);
  }

  #highlight3{
    background-image: url(../assets/images/horiseon.png);
    grid-area: highlight3;
  }



/* MODULES (FLEXBOX) */

#modules {
  margin: 70px 10%;
}

    .workCardRow {
      display: flex;
      justify-content: space-between;
      height: 50vh;
    }
    
    .workCard {
      flex: 1;
      border-radius: 5px;
      align-content: end;
      background-position: top;
      background-size: cover;
      background-repeat: no-repeat;
      border: solid 0.75px var(--slateGreen);
      border-radius: 5px;
      margin: 10px;
      display: grid;
    }

    .workCard:hover {
      opacity: 0.85;
    }

    
  #placeholder {
    background-image: url(../assets/images/placeholder-image.jpeg);
  }

  #jakesEatery {
    background-image: url(../assets/images/jakes-eatery.png);
  }

  #furnitureWebsite {
    background-image: url(../assets/images/furniture-website.png);
  }


  #horiseon {
    background-image: url(../assets/images/horiseon.png);
  }







/* FOOTER */ 

#footer {
  background-color: var(--slateGreen);
  width: 100%;
  heiht: auto; 
  padding: 30px 10% 200px 10%;

}

.footer-items h4, .footer-items a, .footer-items p {
  color: white;
  padding-top: 15px;
  margin: 0;
}


.footer-items {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: columns;
  height: 100%;
  text-decoration: none;
  display: block;
} 





/* MEDIA QUERIES */

/* Mid Screen Size */ 

@media (max-width:1000px) { 
  #navigation a:not(#navContactBtn) {
    display: none;
  }

h2 {
  font-size: 45px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 30px;
}

p {
  font-size: 14px;
  font-family: 'Inter', sans-serif;
  color: var(--slateGreen)
}


#top-banner {
  height: 50vh;
  padding: 30px 0 30px 0;
}

  .gridTextBox {
     h4 {
        font-size: 14px;
        };
     p {
          font-size: 12px;
          };
     padding: 15px;
     height: 30px;
   }


  #highlightsGrid {
    height: 70vh;
    max-height: 800px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    background-position: top;
    grid-template-areas:
    "highlight1 highlight1"
    "highlight2 highlight3";
  }

  .workCardRow {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 1000px;
  }

  .workCard {
    height: 800px;
    width: auto;  
  }
  
}


/* Mobile */ 

@media (max-width: 600px) {


  #top-banner {
    height: 30vh;
    padding: 30px 0 30px 0;
  }


#banner-right-side {
    background-image: url(../assets/images/sean-donnelly-learning-to-code-closer.jpg);
    height: 100%;
    border-radius: 0 0 15px 15px;
    margin-right: 3%;
  }

  h2 {
    font-size: 30px;
  }
  
  h3 {
    font-size: 20px;
    margin-left: 0px;

  }
  
  h4 {
    font-size: 20px;
  }
  
  p {
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    color: var(--slateGreen)
  }

  .centred-paragraph {
    width: 80%;
    text-align: center;
    margin: auto;
    padding: 5% 10%;
  }

  #highlightsGrid {
    height: 70vh;
    min-height: 800px;
    grid-template-columns: 100%;
    grid-template-rows: 33% 33% 33%;
    background-position: top;
    grid-template-areas:
    "highlight1"
    "highlight2" 
    "highlight3"
  }


  .footer-items {
    font-size: 12px; 
  } 